<div class="container">
  <div class="content">
    <h1 class="title"><span>Contacts</span></h1>
    <div class="flex-box">

      <div class="map-box">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1012.9682889053821!2d76.90932066063601!3d43.23505346056346!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3883692f027581ad%3A0x2426740f56437e63!2z0JzQtdC20LTRg9C90LDRgNC-0LTQvdGL0Lkg0YPQvdC40LLQtdGA0YHQuNGC0LXRgiDQuNC90YTQvtGA0LzQsNGG0LjQvtC90L3Ri9GFINGC0LXRhdC90L7Qu9C-0LPQuNC5!5e0!3m2!1sru!2skz!4v1594305184513!5m2!1sru!2skz" width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
      </div>

      <div class="contact-box">

        <div class="info-box">

          <div class="info-card">
            <mat-icon>place</mat-icon>
            <p>Location</p>
            <small>{{user.location}}</small>
            <small>{{user.city}}, {{user.country}} {{user.postCode}}</small>
          </div>

          <div class="info-card">
            <mat-icon>call</mat-icon>
            <p>Phone</p>
            <small>{{user.telephoneNumber}}</small>
          </div>

          <div class="info-card">
            <mat-icon>alternate_email</mat-icon>
            <p>Email</p>
            <small>{{user.email}}</small>
          </div>
        </div>

        <div class="form-box">
          <h2>Contacts Form</h2>
          <form [formGroup]="form">
            <div class="inputs-box">
              <div class="left-inputs">
                <input type="text" formControlName="name" placeholder="Name">
                <input type="email" formControlName="email" placeholder="Email">
                <input type="text" formControlName="subject" placeholder="Subject">
              </div>
              <div class="right-inputs">
                <textarea type="text" formControlName="text" placeholder="Message..."></textarea>
              </div>
            </div>
            <button type="submit" (click)="sendMessageEmail()">Send Message</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
