<div class="slider">
  <div class="cards-box">
    <div class="card" *ngFor="let card of cardElementsArr; let i = index" [ngClass]="{'slider-move': noneArr[i]}">
      <p class="card-date">{{card.yearStart}} - {{card.yearFinish}}</p>
      <p class="card-title">{{card.title}}</p>
      <p class="card-description">{{card.text}}</p>
    </div>
  </div>
  <div class="actions-box">
    <button mat-icon-button aria-label="Slider prev btn" (click)="prevCard()">
      <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
    <button mat-icon-button aria-label="Slider next btn" (click)="nextCard()">
      <mat-icon>keyboard_arrow_right</mat-icon>
    </button>
  </div>
</div>
