<div class="slider">
  <button class="left-btn" (click)="prevShow()">
    <mat-icon>keyboard_arrow_left</mat-icon>
  </button>
  <div class="slider-body">

    <div class="slider-card" *ngFor="let card of arrCard, let i = index" [ngClass]="{'move-left': marginIndex >= (i + 1)}" (click)="clickCard((i + 1))">
      <div class="card-img">
        <div class="card-text">
          <p class="text1">{{card.title}}</p>
          <p class="text2">{{card.text}}</p>
        </div>
        <img src="{{card.urlImageSlider}}" alt="">
      </div>
      <div class="card-footer" *ngIf="(i + 1) === showCardIndex" [ngClass]="{'open': (i + 1) === showCardIndex}">
        <div>{{card.date | date}}</div>
        <div class="open-detail" routerLink="/projects/{{card.id}}">Open detail</div>
        <div>{{card.type}}</div>
      </div>
    </div>

  </div>
  <button class="right-btn" (click)="nextShow()">
    <mat-icon>keyboard_arrow_right</mat-icon>
  </button>
</div>
