header {
  min-width: 360px;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 25px;
  position: absolute;
  top: 0;
  color: #fff;
}

nav {
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.link, .link-info {
  width: auto;
  color: #fff;
  text-decoration: none;
  margin: 0 22px;
  position: relative;
  display: inline-block;
}

.link {
  font-size: 16px;
}

.link:after {
  content: '';
  display: block;
  width: 0;
  height: 4px;
  background-color: #fff;
  position: absolute;
  transition: width .3s ease-in-out;
  transform-origin: left;
}

.link:hover:after {
  width: 100%;
}

.info {
  display: flex;
  align-items: center;
}

.link-info {
  font-size: 14px;
  cursor: pointer;
}

.link-info:hover {
  text-decoration: underline;
}

.link.active {
  color: #BF4DC1;
  font-weight: bold;
  position: relative;
}

.link.active:after {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  background-color: #BF4DC1;
  position: absolute;
}

@media (max-width: 900px) {
  header {
    justify-content: center;
  }

  nav {
    width: 100%;
    justify-content: center;
  }

  .info {
    display: none;
  }
}

@media (max-width: 400px) {
  .link {
    font-size: 14px;
  }
  nav {
    justify-content: space-between;
  }
  .link {
    margin: 0;
  }
}
