<div class="container">
  <div class="content">
    <h1 class="title"><span>Projects</span></h1>
    <div class="project-types-flex-box">
      <div class="project-types-child">
        <mat-icon svgIcon="websites_custom" aria-hidden="false" aria-label="Websites Icon"></mat-icon>
        <h3>Websites</h3>
        <p>UX/UI Desing</p>
      </div>
      <div class="project-types-child">
        <mat-icon svgIcon="desktop-apps_custom" aria-hidden="false" aria-label="Websites Icon"></mat-icon>
        <h3>Desktop Apps</h3>
        <p>JAVA App</p>
      </div>
      <div class="project-types-child">
        <mat-icon svgIcon="games_custom" aria-hidden="false" aria-label="Websites Icon"></mat-icon>
        <h3>Games</h3>
        <p>IOS/Android</p>
      </div>
      <div class="project-types-child">
        <mat-icon svgIcon="bots_custom" aria-hidden="false" aria-label="Websites Icon"></mat-icon>
        <h3>Bots</h3>
        <p>Telegram/VK</p>
      </div>
    </div>
    <h1 class="title"><span>Most Like TOP - 9</span></h1>
    <app-slider-v2></app-slider-v2>

    <h1 class="title"><span>Latest Projects</span></h1>
    <app-slider-v2></app-slider-v2>

    <div class="all-projects">

      <h2 class="title-v2">All Projects</h2>

      <div class="projects-block">

        <div class="filter">

          <div class="filter-line"></div>

          <div class="filter-values-box">

            <div class="filter-value">
              <button><span></span></button>
              <p>Bots</p>
            </div>

            <div class="filter-value">
              <button><span></span></button>
              <p>Games</p>
            </div>

            <div class="filter-value">
              <button><span></span></button>
              <p>Desktop Apps</p>
            </div>

            <div class="filter-value">
              <button><span></span></button>
              <p>Websites</p>
            </div>

          </div>
        </div>

        <div class="projects-box">
          <app-project-card></app-project-card>
          <app-project-card></app-project-card>
          <app-project-card></app-project-card>
          <app-project-card></app-project-card>
          <app-project-card></app-project-card>
          <app-project-card></app-project-card>
          <app-project-card></app-project-card>
          <app-project-card></app-project-card>
        </div>

        <div class="paginator">
          <div class="prev">
            <button class="action-btn">
              <mat-icon>arrow_back</mat-icon>
            </button>
          </div>
          <div class="pages">
            <button class="number-page-btn" [ngClass]="{'active-page': true}">1</button>
            <button class="number-page-btn">2</button>
            <button class="number-page-btn">3</button>
            <button class="number-page-btn">4</button>
          </div>
          <div class="next">
            <button class="action-btn">
              <mat-icon>arrow_forward</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
