<div class="container">
  <div class="content">
    <h1 class="title"><span>Projects</span></h1>
    <div class="project-types-flex-box">
      <div class="project-types-child">
        <mat-icon svgIcon="websites_custom" aria-hidden="false" aria-label="Websites Icon"></mat-icon>
        <h3>Websites</h3>
        <p>UX/UI Desing</p>
      </div>
      <div class="project-types-child">
        <mat-icon svgIcon="desktop-apps_custom" aria-hidden="false" aria-label="Websites Icon"></mat-icon>
        <h3>Desktop Apps</h3>
        <p>JAVA App</p>
      </div>
      <div class="project-types-child">
        <mat-icon svgIcon="games_custom" aria-hidden="false" aria-label="Websites Icon"></mat-icon>
        <h3>Games</h3>
        <p>IOS/Android</p>
      </div>
      <div class="project-types-child">
        <mat-icon svgIcon="bots_custom" aria-hidden="false" aria-label="Websites Icon"></mat-icon>
        <h3>Bots</h3>
        <p>Telegram/VK</p>
      </div>
    </div>
    <h1 class="title"><span>Most Like TOP - 9</span></h1>
    <app-slider-v2></app-slider-v2>

    <h1 class="title"><span>Latest Projects</span></h1>
    <app-slider-v2></app-slider-v2>

    <div class="all-projects">

      <h2 class="title-v2">All Projects</h2>

      <div class="projects-block">

        <div class="filter">

          <div class="filter-line"></div>

          <div class="filter-values-box">

            <div class="filter-value">
              <button (click)="filterSet('all')"><span [ngClass]="{'active-filter': filter === 'all'}"></span></button>
              <p>All</p>
            </div>

            <div class="filter-value">
              <button (click)="filterSet('bot')"><span [ngClass]="{'active-filter': filter === 'bot'}"></span></button>
              <p>Bots</p>
            </div>

            <div class="filter-value">
              <button (click)="filterSet('game')"><span [ngClass]="{'active-filter': filter === 'game'}"></span></button>
              <p>Games</p>
            </div>

            <div class="filter-value">
              <button (click)="filterSet('desktop app')"><span [ngClass]="{'active-filter': filter === 'desktop app'}"></span></button>
              <p>Desktop Apps</p>
            </div>

            <div class="filter-value">
              <button (click)="filterSet('website')"><span [ngClass]="{'active-filter': filter === 'website'}"></span></button>
              <p>Websites</p>
            </div>

          </div>
        </div>

        <div class="projects-box">
          <app-project-card *ngFor="let project of page.projects" [card]="project"></app-project-card>
        </div>

        <div class="paginator">
          <div class="prev">
            <button class="action-btn" (click)="showPrev()">
              <mat-icon>arrow_back</mat-icon>
            </button>
          </div>
          <div class="pages">
            <button *ngFor="let pageNumber of pages; let i = index" (click)="showPage(i)" class="number-page-btn" [ngClass]="{'active-page': page.currentPage === i}">{{i + 1}}</button>
          </div>
          <div class="next">
            <button class="action-btn" (click)="showNext()">
              <mat-icon>arrow_forward</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
