<div class="container">
  <div class="content">
    <h1 class="title"><span>{{project.title}}</span></h1>
    <div class="project-image">
      <img src="{{project.urlImageSlider}}" alt="Project image">
    </div>
    <p class="project-text">Started earnest brother believe an exposed so. Me he believing daughters if forfeited at furniture. Age again and stuff downs spoke. Late hour new nay able fat each sell. Nor themselves age introduced frequently use unsatiable devonshire get. They why quit gay cold rose deal park. One same they four did ask busy. Reserved opinions fat him nay position. Breakfast as zealously incommode do agreeable furniture.</p>

    <div class="link-github">
      <a href="{{project.urlGithub}}" target="_blank">
        <button mat-raised-button class="link-btn-github">
          <mat-icon svgIcon="git_hub" aria-hidden="false" aria-label="download file icon"></mat-icon>Go GitHub</button>
      </a>
    </div>
  </div>
  <app-footer></app-footer>
</div>
