footer {
  width: 100%;
  box-sizing: border-box;
  padding: 0 40px 30px;
  position: relative;
}

.flex-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

a {
  color: #fff;
  text-decoration: none;
}

.info-block, .link-block, .soc-block {
  box-sizing: border-box;
}

.link-block {
  transform: translateY(-10px);
}

.info-block a {
  font-family: 'Quicksand', sans-serif;
  font-size: 14px;
  font-weight: 500;
  margin: 0 20px;
  cursor: pointer;
}

.link-block a {
  font-family: 'Reem Kufi', sans-serif;
  font-size: 16px;
  margin: 0 12px;
  cursor: pointer;
}

.soc-block a {
  font-family: 'Reem Kufi', sans-serif;
  font-size: 16px;
  margin: 0 20px;
  cursor: pointer;
}

.copy-right-box {
  position: absolute;
  left: 0;
  bottom: 210px;
  height: 30px;
  background-color: #BF4DC1;
  font-family: 'Quicksand', sans-serif;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 0 8px;
  font-size: 12px;
  transform: rotate(90deg);
  transform-origin: left bottom;
}


