<footer>
  <div class="flex-block">
    <div class="info-block">
      <a href="#">+7-(705)-262-79-72</a>
      <a href="#">twinspazyl@gmail.com</a>
    </div>
    <div class="link-block">
      <nav>
        <a routerLink="/home">Home</a>
        <a routerLink="/about">About</a>
        <a routerLink="/projects">Projects</a>
        <a routerLink="/contact">Contact</a>
      </nav>
    </div>
    <div class="soc-block">
      <a href="#">LINKEDIN</a>
      <a href="#">GITHUB</a>
      <a href="#">VKONTAKTE</a>
      <a href="#">INSTAGRAM</a>
    </div>
  </div>
  <div class="copy-right-box">
    © 2020 All rights reserved.
  </div>
</footer>
