<footer>
  <div class="flex-block">
    <div class="info-block">
      <a href="#">+7-(705)-262-79-72</a>
      <a href="#">twinspazyl@gmail.com</a>
    </div>
    <div class="link-block">
      <nav>
        <a routerLink="/home">Home</a>
        <a routerLink="/about">About</a>
        <a routerLink="/projects">Projects</a>
        <a routerLink="/contact">Contact</a>
      </nav>
    </div>
    <div class="soc-block">
      <a href="https://kz.linkedin.com/in/yerbolat-pazyl-a33367172" target="_blank">LINKEDIN</a>
      <a href="https://github.com/qiyal" target="_blank">GITHUB</a>
      <a href="https://vk.com/epazyl" target="_blank">VKONTAKTE</a>
      <a href="https://www.instagram.com/q.i.y.a.l/" target="_blank">INSTAGRAM</a>
    </div>
  </div>
  <div class="copy-right-box">
    © 2020 All rights reserved.
  </div>
</footer>
