.container {
  background-color: #000;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  width: 100%;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("../../../src/assets/images/home/gif-0.gif") no-repeat center center;
  background-size: cover;
  position: relative;
}

.name {
  color: #fff;
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;
  font-size: 50px;
  line-height: 59px;
}

.follow-me-box {
  width: auto;
  padding: 10px;
  height: 25px;
  display: flex;
  align-items: center;
  color: #fff;
  position: absolute;
  background-color: #BF4DC1;
  transform: rotate(90deg);
  left: 0;
  bottom: 215px;
  transform-origin: left bottom;
}

.text {
  margin: 0;
  font-size: 14px;
  line-height: 16px;
}

.line {
  width: 50px;
  height: 1px;
  background-color: #fff;
  margin: 0 7px;
}

.soc {
  display: flex;
  align-items: center;
}

.link {
  width: 20px;
  height: 20px;
  display: block;
  margin: 0 2px;
  transform: rotate(-90deg);
  transform-origin: center;
}

.linkedin {
  background: url("../../assets/icons/home/linkedin_white.svg");
}

.linkedin:hover {
  background: url("../../assets/icons/home/linkedin.svg");
}

.github {
  background: url("../../assets/icons/home/github-black.svg");
}

.github:hover {
  background: url("../../assets/icons/home/github-white.svg");
}

.vk {
  background: url("../../assets/icons/home/vk_b.svg");
}

.vk:hover {
  background: url("../../assets/icons/home/vk_w.svg");
}

.instagram {
  background: url("../../assets/icons/home/instagram_b.svg");
}

.instagram:hover {
  background: url("../../assets/icons/home/instagram_w.svg");
}

.gmail {
  background: url("../../assets/icons/home/vk_b.svg");
}

.gmail:hover {
  background: url("../../assets/icons/home/vk_w.svg");
}

