<div class="container">
  <div class="content">

    <div class="wavy">
      <h1 class="name">
        <span style="--i: 1">Y</span>
        <span style="--i: 2">e</span>
        <span style="--i: 3">r</span>
        <span style="--i: 4">b</span>
        <span style="--i: 5">l</span>
        <span style="--i: 6">a</span>
        <span style="--i: 7; margin-right: 20px">t</span>
        <span style="--i: 8">P</span>
        <span style="--i: 9">a</span>
        <span style="--i: 10">z</span>
        <span style="--i: 11">y</span>
        <span style="--i: 12">L</span>
      </h1>
    </div>

    <div class="follow-me-box">
      <p class="text">Follow Me</p>
      <div class="line"></div>
      <div class="soc">
        <a href="https://kz.linkedin.com/in/yerbolat-pazyl-a33367172" target="_blank" class="link linkedin"></a>
        <a href="https://github.com/qiyal" target="_blank" class="link github"></a>
        <a href="https://vk.com/epazyl" target="_blank" class="link vk"></a>
        <a href="https://www.instagram.com/q.i.y.a.l/" target="_blank" class="link instagram"></a>
        <a href="#" target="_blank" class="link mail"></a>
      </div>
    </div>
  </div>
</div>
